:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  color: #000;
  background-color: #d63384;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}
.logo {
  max-height: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 0px;
  margin-inline-start: 0px;
  unicode-bidi: isolate;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
.details {
  background: blueviolet;
  text-align: center;
  padding: 80px 20px;
}
.details p {
  font-size: 46px;
  font-weight: bold;
  margin: 0;
  color: #000;
}
p {
  line-height: 30px;
  display: block;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4 {
  color: #000;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.details h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
h2 {
  font-size: 64px;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}
p {
  font-weight: normal;
  font-size: 16px;
}
p {
  margin-top: 0;
}
.col {
  flex: 1 0 0%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.row > * {
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
}
h3 {
  font-size: 48px;
}
footer .contact-box p {
  margin: 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
a {
  text-decoration: underline;
  color: var(--bs-link-color);
}
.fab,
.far {
  font-weight: 400;
}
.fab {
  font-family: Arial, Helvetica, sans-serif;
}
.fa-github:before {
  content: "\f09b";
}
*,
::after,
::before {
  box-sizing: border-box;
}
.text-center {
  text-align: center !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
.mt-3 {
  margin-top: 1rem !important;
}
.justify-content-center {
  justify-content: center !important;
}
.m-0 {
  margin: 0 !important;
}
.rounded {
  border-radius: 0.25rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}
.p-3 {
  padding: 1rem !important;
}
.border {
  border: 1px solid #dee2e6 !important;
}
form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}
.form-label {
  margin-bottom: 0.5rem;
}
label {
  display: inline-block;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}
textarea {
  resize: vertical;
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
a {
  color: blue;
  text-decoration: underline;
}
